.input-conti {
  width: 100%;
  height: auto;
  background-color: none;
}

label {
  text-align: left;
}

.input-div input {
  width: 96%;
  height: 20px;
  font-size: 18px;
  background-color: #20323e;
  color: whitesmoke;
  border: none;
}

input:focus {
  outline: none;
}

.input-div {
  display: flex;
}

.icon {
  font-size: 24px;
}

.error {
  color: red;
}

.check {
  color: forestgreen;
}
